

body {
  font-family: "Outfit", sans-serif;
	font-size: 20px;
	background-color: #f0f0e1;
	border: 0px solid red;
	margin: 0px;
	padding: 0px;
	line-height: 20px;
}




a {text-decoration: none; color: #1b407d;}

.pagestructure {
display: flex;
justify-content: center;
align-items: center;
border: 0px solid green;
height: 100%;
color: #1b407d;
}

.pagestructure > div {
width: 100%;
max-width: 1000px;
border: 0px solid blue;
}

.pagename {
font-family: "Atma", system-ui;
text-align: center;
font-size: 3em;
display: block;
margin-bottom: 50px;
text-transform: lowercase; 
}



.listoflinks {
display: flex;
width: 100%;
max-width: 1000px;
border: 0px solid red;
}

.linkcolumn {
margin: 30px;
width: 30%;
}

.linkcolumn > div {

}

.smalltext {
font-size: .7em;
line-height: 1em;
}

.sectiontitle {
  font-family: "Outfit", sans-serif;
border-bottom: 2px solid #1b407d;
margin-bottom: 10px;
font-weight: bold;
font-size: 1.2em;
padding-bottom: 2px;
}

.linkcolumn a {
display: block;
border-radius: 10px;
padding: 7px;
}

.linkcolumn a:hover
{
background-color: #ffffff;
}


@media screen and (max-width: 600px) {
.listoflinks {flex-direction: column;}
.linkcolumn {width: 80%; margin: 20px auto;}
.pagename {font-size: 2.5em; margin-top: 40px; margin-bottom: 40px;}
.pagestructure {align-items: flex-start;}
}









