

body {
	font-family: "Rancho", cursive;
	font-size: 40px;
	background-color: #f0f0e1;
	border: 0px solid red;
	margin: 0px;
	padding: 0px;
	line-height: 32px;
	height: 100%;
}




a {text-decoration: none; color: #1b407d;}

.pagestructure {
display: flex;
justify-content: center;
align-items: center;
border: 0px solid green;
height: 100%;
color: #1b407d;
}

.pagestructure > div {
width: 90%;
max-width: 800px;
border: 0px solid blue;
}

.pagename {
 font-family: "Special Elite", system-ui;
text-align: center;
font-size: 50px;
display: block;
line-height: 60px;
margin-bottom: 30px;
text-transform: lowercase; 
color: #777;
}


.startstopbutton:hover {cursor: pointer}
.startstopbutton{
font-family: "Special Elite", system-ui;
  width: 130px;
  height: 130px;
  line-height: 130px;
  border-radius: 50%;
  font-size: 30px;
  text-align: center;
margin: 0px 30px;
}

.buttonstart {color: #fff; background-color: #12b61a; border: 3px solid #346D37;}
.buttonstop {color: #fff; background-color: red; border: 3px solid #8C3737;}
.buttonstart:hover {background-color: #346D37;}
.buttonstop:hover {background-color: #8C3737;}

.startbuttonon {background-color: #346D37; pointer-events: none;}
.stopbuttonon {background-color: #8C3737; pointer-events: none;}





.startstop {
display: flex;
width: 100%;
justify-content: center;
align-items: center;
margin-bottom: 50px;
}

.thequestion {
border: 2px solid #1b407d;
position: relative;
overflow: hidden;
height: 100px;
width: 100%;
margin: 30px 0px;
}

#questionlist {
position: relative;
text-align: center;
width: 95%;
margin: auto;
}

#questionlist div {
height: 100px;
display: flex;
align-items: center;
justify-content: center;
width: 100%;
border: 0px solid red;
}


@media screen and (max-width: 600px) {
body {font-size: 28px; line-height: 26px;}
.pagename {font-size: 30px; margin-top: 20px; margin-bottom: 10px; line-height: 30px;}
.thequestion {margin: 30px 0px;}
.startstopbutton{
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 22px;
margin: 0px 20px;
	}
}






/* The animation code */
@keyframes startroll {
  from {top: -1050px;}
  to {top: -50px;}
}

.startanimation {
  animation-name: startroll;
  animation-duration: 1s;
  animation-iteration-count: infinite;
animation-timing-function: linear;
}

/* The animation code */
@keyframes stoproll {
  from {top: -400px;}
  to {top: 0px;}
}

.stopanimation {
  animation-name: stoproll;
  animation-duration: 1s;
  animation-iteration-count: 1;
animation-timing-function: ease-out;
}






/* Flip switch */


.flipswitch {
font-family: "Special Elite", system-ui;
display: flex;
justify-content: center;
position: absolute;
bottom: 20px;
width: 100%;
}

.flipswitch-switch {

}
.flipswitch-questions {
font-size: 20px;
line-height: 34px;
color: #555;
margin-left: 16px;
}

.flipswitchon {}
.flipswitchoff {pointer-events: none; opacity: 0.3;}



.switch {
  position: relative;
  display: inline-block;
  width: 28px;
  height: 60px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #1b407d;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #555;
}

input:focus + .slider {
  box-shadow: 0 0 1px #1b407d;
}

input:checked + .slider:before {
  -webkit-transform: translateY(-32px);
  -ms-transform: translateY(-32px);
  transform: translateY(-32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}















