

body {
	font-family: 'Urbanist', sans-serif;
	font-size: 18px;
	background-color: #a3ccf8;
	border: 0px solid red;
	margin: 0px;
	padding: 0px;
}

* {box-sizing: border-box;}
@media print { @page { size: portrait; }}


a {text-decoration: none;}


.pagetitlecontainer {
	color: #19325a;
	font-size: 30px;
	text-align: center;
	margin: 20px 0px;
	font-weight: bold;
}


.pagetitle {

}



.whiteback  {background-color: #ffffff; padding: 20px 0px; border-top: 2px solid #3a6378;}

@media print {
.whiteback {border-top: 1px solid #aaaaaa;}
}


#pagestructure {
	display: flex;
	flex-direction: row-reverse;
	border: 0px solid red;
	max-width: 1200px;
	margin: 0px auto;
	padding: 0px 0px
	width: 100%;
}


@media screen and (max-width: 1000px) {
#pagestructure {flex-direction: column;}
}

@media print {
#pagestructure {flex-direction: column;}
}



#mapcontainer {
	position: relative;
	margin: 5px 0px;
	width: 100%;
	border: 0px solid red;
}

.mapoutline {
	border: 0px solid #19325a;
	padding: 0px;
	width: 95%;
	margin: auto;
}

@media screen and (max-width: 1000px) {
.mapoutline {border-bottom: 1px solid #a57b5c;}
}

@media print {
#mapcontainer {margin:0px;}
.mapoutline {border-bottom: 0px solid #a57b5c;}
}


#USmap {
	width: 100%;
	opacity: .4;
}

.ClickBox {
	color: #aaaaaa;
	display: block;
	white-space: nowrap;
	margin-left: 5px;
	font-size: 12px;
}

.statename {
	font-size: 16px;
	margin-right: 2px;	
}

@media print {
.ClickBox {color: #eeeeee; font-size: 10px;}
.statename {font-size: 14px;}
}

.ClickBox:hover {
	cursor: pointer;
}

.parkdot {
	width: 30px; 
	height: 30px; 
	-webkit-print-color-adjust: exact;
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	background-image: url("icon-peak-off.png");
	border: 0px solid red;
}

.parkdoton {background-image: url("icon-peak.png");}
.parkdotdim {background-image: url("icon-peak-dim.png");}


.parkdothidden {display: none;}

/*-----------------------------




.parkdot {
	width: 20px; 
	height: 20px; 
	border-radius: 50%;
	background-color: red;
	border: 1px solid darkred;
	-webkit-print-color-adjust: exact;
	background-size: cover;
	position: absolute;
}

.parkdoton {background-color: green; border: 1px solid darkgreen;}
.parkdotdim {background-color: #dddddd; border: 1px solid #cccccc;}

--------------------------------*/



@media screen and (max-width: 800px) {
.parkdot {height: 15px; width: 15px;}
}
@media screen and (max-width: 600px) {
.parkdot {height: 15px; width: 15px;}
}


#parknamescontainer {
	border: 0px solid #19325a;
	position: relative;
	display: block;
	margin-right: 20px;
	font-size: 13px;
	columns: 2;
	font-family: 'Oswald', sans-serif;
	padding: 0px;
	border-radius: 10px;
}


@media print {
#parknamescontainer {columns: 4; border: 0px; margin-right: 0px; margin-top: 20px; border-top: 1px solid #aaaaaa; border-radius: 0px; padding-top: 10px;}
}

@media screen and (max-width: 1000px) {
#parknamescontainer {margin: 20px auto; width: 80%;}
}

@media screen and (max-width: 500px) {
#parknamescontainer {margin: 10px auto; width: 90%;}
}


#ParkCount {
	font-size: 26px;
	font-weight: bold;
	color: #19325a;
	text-align: center;
}


@media screen and (max-width: 800px) {
#ParkCount {font-size: 16px;}
}

@media screen and (max-width: 500px) {
}

@media print {
#ParkCount {font-size: 20px;}
}

#bottommenu {
	margin: 0px auto 100px 0px;
	text-align: center;
	background-color: #081743;
}

#bottommenucontainer {
	display: flex;
	justify-content: space-around;
	max-width: 1200px;
	margin: auto;
}

@media screen and (max-width: 1000px) {
#bottommenucontainer {flex-direction: column;}
}

.bottommenubutton {
	text-align: center;
	display: inline-block;
	padding: 5px;
	color: #ffffff;
	font-size: 14px;
}

.bottommenubutton:hover, .parkdot:hover {
	cursor: pointer;
}

@media screen and (max-width: 800px) {
.bottommenubutton {width: 80%; margin: 1px auto; display: block;}
}

@media print {
#bottommenu {display: none;}
}










#Alabama {
	top: 57.5%;
	left: 70.3%;
}

#Alaska {
	top: 75.8%;
	left: 15.6%;
}

#Arizona {
	top: 49.6%;
	left: 19.5%;
}

#Arkansas {
	top: 52.8%;
	left: 54.8%;
}

#California {
	top: 43.5%;
	left: 8.9%;
}

#Colorado {
	top: 38.6%;
	left: 31.6%;
}

#Connecticut {
	top: 23.5%;
	left: 90.1%;
}

#Delaware {
	top: 31.3%;
	left: 87.2%;
}

#Florida {
	top: 66%;
	left: 70.1%;
}

#Georgia {
	top: 52.9%;
	left: 73.2%;
}

#Hawaii {
	top: 86.4%;
	left: 37.2%;
}

#Idaho {
	top: 19.2%;
	left: 19.4%;
}

#Illinois {
	top: 27.8%;
	left: 61%;
}

#Indiana {
	top: 34.3%;
	left: 68.8%;
}

#Iowa {
	top: 25.3%;
	left: 50.5%;
}

#Kansas {
	top: 42.8%;
	left: 39.9%;
}

#Kentucky {
	top: 43%;
	left: 74.9%;
}

#Louisiana {
	top: 61.9%;
	left: 56%;
}

#Maine {
	top: 5.7%;
	left: 94.4%;
}

#Maryland {
	top: 33.6%;
	left: 80.8%;
}

#Massachusetts {
	top: 19.5%;
	left: 89.5%;
}

#Michigan {
	top: 11.8%;
	left: 63.2%;
}

#Minnesota {
	top: 8%;
	left: 58.4%;
}

#Mississippi {
	top: 54.4%;
	left: 63.9%;
}

#Missouri {
	top: 44.4%;
	left: 60%;
}

#Montana {
	top: 14.6%;
	left: 26.1%;
}

#Nebraska {
	top: 30.4%;
	left: 36.3%;
}

#Nevada {
	top: 36%;
	left: 8.8%;
}

#NewHampshire {
	top: 12.5%;
	left: 91.4%;
}

#NewJersey {
	top: 26.2%;
	left: 88.3%;
}

#NewMexico {
	top: 47.5%;
	left: 32.4%;
}

#NewYork {
	top: 16.7%;
	left: 86.2%;
}

#NorthCarolina {
	top: 47%;
	left: 78%;
}

#NorthDakota {
	top: 12.9%;
	left: 38.1%;
}

#Ohio {
	top: 32.4%;
	left: 71.5%;
}

#Oklahoma {
	top: 47%;
	left: 37.4%;
}

#Oregon {
	top: 11.8%;
	left: 6.6%;
}

#Pennsylvania {
	top: 30%;
	left: 82.3%;
}

#RhodeIsland {
	top: 21.5%;
	left: 93.1%;
}

#SouthCarolina {
	top: 50.9%;
	left: 77%;
}

#SouthDakota {
	top: 22.9%;
	left: 37.8%;
}

#Tennessee {
	top: 47.5%;
	left: 74.4%;
}

#Texas {
	top: 64.5%;
	left: 32.7%;
}

#Utah {
	top: 31.5%;
	left: 24%;
}

#Vermont {
	top: 14.6%;
	left: 88.9%;
}

#Virginia {
	top: 43%;
	left: 79.3%;
}

#Washington {
	top: 4.5%;
	left: 7.5%;
}

#WestVirginia {
	top: 36.1%;
	left: 78.3%;
}

#Wisconsin {
	top: 16.6%;
	left: 59.8%;
}

#Wyoming {
	top: 23.4%;
	left: 25.6%;
}





