

body {
	font-size: 18px;
	background-color: #266a57;
font-family: 'Nunito', sans-serif;
}

* {box-sizing: border-box;}
@media print { @page { size: portrait; }}


a {text-decoration: none;}


.countryid, .capitalid {
	display: inline-block;
}


#GameBoard {
	background-color: #ffffff;
	margin: auto;
	border: 5px solid #6F4930;
	border-radius:0px 0px 10px 10px;
	padding: 20px 50px;
	width: 80%;
	max-width: 600px;
}



#StatsBox {
	text-align: right;
	width: 80%;
	max-width: 600px;
	color: #ffffff;
	font-size: 13px;
	margin: 100px auto 0px auto;
	padding: 2px 10px;
	background-color: #6F4930;
	border: 5px solid #6F4930;
	border-radius:10px 10px 0px 0px;
}

.LinkButton {
	display: inline-block;
	border: 2px solid black;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 10px;
}

.LinkButton:hover {
	cursor: pointer;
	background-color: #efefef;
}


.StreakNum {
	display: inline-block;
}

#YesOrNo {display: inline-block; margin-right: 5px;}

#YourAnswer, .parkid {display: inline;}

#NameOfPark {
	font-weight: bold;
	font-size: 20px;
	margin: auto;
	display: block;
	text-align: center;
	border: 2px solid black;
	padding: 14px;
	margin-top: 20px;
}


#NumOfAnswers {
	font-size: 14px;
	display: block;
	margin-bottom: 30px;
}

#stateid {
	font-weight: bold;
	font-size: 24px;
	margin: auto;
	display: block;
	text-align: center;
	border: 2px solid black;
	padding: 14px;
	margin-top: 20px;
}




.divider {
	width: 1px;
	display: inline-block;
	margin: 0px 10px;
}


.divider::before {
	content: '|';
	opacity: .5;
}


.PageTitle {
	font-size: 26px;
	margin-bottom: 20px;
	font-weight: bold;
}

@media only screen and (max-width: 600px) {
	#GameBoard {padding: 20px; width: 90%;}
	body {font-size: 16px;}
	#capitalid {padding: 15px; font-size: 20px;}
	.LinkButton {padding: 5px 10px;}
	#StatsBox {width: 90%; text-align: center; margin-top: 30px;}
	

}



/*------ AUTOCOMPLETE --------------*/


/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}


input[type=text] {
  background-color: #f1f1f1;

}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}


@media only screen and (max-width: 300px) {
	input {padding: 5px; font-size: 16px;}
	.autocomplete-items div {padding: 5px; font-size: 16px;}
}
